*, *:before, *:after {
    box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body, caption, th, td, input, textarea, select, option, legend, fieldset, h1, h2, h3, h4, h5, h6 {
  font-size-adjust: 0.5;
}

body {
  color: #000500;
  background: #fff;
  font-family: 'Lato', sans-serif;

  font-size: 1em;
  line-height: 1.25;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

input[type=range] {
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
}

input[type=range]:focus {
  outline: none;
}


/*input[type=range]::-ms-track, */
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: .5em;
  cursor: pointer;
  animate: 0.2s;
  background-color: #000500;
  border-radius: 1em;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: .5em;
  cursor: pointer;
  animate: 0.2s;
  background-color: #000500;
  border-radius: 1em;
}

/*
input[type=range]::-ms-fill-upper,
input[type=range]::-ms-fill-lower {}

input[type=range]:focus::-ms-fill-lower,
input[type=range]:focus::-ms-fill-upper {}
input[type=range]::-ms-thumb,

*/
input[type=range]::-webkit-slider-thumb {
  height: 1.5em;
  width: 1.5em;
  border-radius: 100px;
  background: #1181c1;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -.5em;
}

input[type=range]::-moz-range-thumb {
  height: 1.5em;
  width: 1.5em;
  border-radius: 100px;
  background: #1181c1;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -.5em;
  border: none;
}


@media (min-width: 820px) {
  body {
    line-height: 1.375;
  }
}

.main-header {
  background: #fff url('/images/header.jpg') no-repeat center 0;
  background-size: cover;
  height: 500px;
  height: 100vh;
  overflow: hidden;
}

.main-header .intro {
  color: #fff;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  margin-top: 7em;
  position: relative;
  z-index: 2;
}

.main-header .intro hgroup {
  margin-top: 10em;
}

@media (min-width: 768px) {
  .main-header .intro {
    margin-top: 10em;
  }

  .main-header .intro hgroup {
    margin-top: 5em;
  }
}

.main-header .intro .logo {
  height: 8em;
}

.main-header #logomark {
  fill: #fff;
}

.main-header .intro h1 {
  padding: 0 2em;
  font-size: 1.25em;
  font-weight: normal;
  letter-spacing: .1em;
}

.main-header .intro h2 {
  font-size: 1.653em;
  font-weight: normal;
  margin: 0px;
}

.main-nav-wrapper {
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.main-nav {
  display: flex;
  align-items: center;
  height: 3em;
  padding: 0 1.3em;
}

.main-nav > ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.main-nav  a {
  color: #fff;
  text-decoration: none;
}

.main-nav .wordmark {
  letter-spacing: 1px;
  border-bottom: 1px solid #fff;
  text-transform: uppercase;
}

.main-nav .menu {
  flex: 1;
  text-align: right;
  margin-right: -.5em;
}

.main-nav .menu li {
  display: inline-block;
}

.main-nav .menu a {
  color: #fff;
  padding: .5em
}

.main-nav-wrapper.sticky {
  background-color: #000500;
  transition: background 0.4s ease;
}

.main-nav .wordmark-wrapper {
  display: flex;
  align-items: center;
}

@media (min-width: 600px) {
  .main-header .intro h2 {
    font-size: 2em;
  }
}


@media (min-width: 1024px) {
  .main-header .intro h2 {
    font-size: 2.5em;
    letter-spacing: .2em;
  }
}


/* video bg */
.video-bg-wrapper {
  z-index: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  z-index: 1;
}

.video-bg-wrapper video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1000;
  overflow: hidden;
}


/* Footer */
.main-footer {
  background-color: #fafafa;
  border-top: 1px solid #eaeaea;
  padding: 40px 0;
  text-align: center;
  font-size: 14px;
}

.main-footer .cc {
  margin: 0;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  color: #969696;
}

.main-footer .logo {
  height: 60px;
  margin-bottom: 40px;
}

/* Body */
.container {
  max-width: 900px;
  margin: 0 auto;
}

.vn-section {
  padding: 60px 30px;
  border-top: 1px solid #eaeaea;
}

.vn-section--gray {
  box-shadow: inset 0px 11px 4px -10px rgba(0,0,0,0.12), inset 0px 0px 0px 0px rgba(0,0,0,0);
  background-color: #fafafa;
}

.vn-section h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  font-size: 2em;
  line-height: 1.25;
}


/* Card */
.card {
  border-radius: 5px;
  background: white;
  box-shadow: 0px 4px 4px rgba(0,0,0,0.12), 0 0 1px rgba(0, 0, 0, .2);
  width: 100%;
  padding: 30px;
  margin-bottom: 20px;
}

.card h3 { margin-top: 0; }

.plans {
  margin-top: 2em;
}

/* Plans */
@media screen and (min-width: 820px) {
  .plans .card {
    display: inline-block;
    width: 30%;
  }

  .plans .card:nth-child(2) {
    margin: 0 5%;
  }
}

.vn-button {
  background: none;
  border: none;
  padding: 16px;
  width: 150px;
}

.vn-button:focus {
  outline: none;
  box-shadow: 0px 4px 4px rgba(0,0,0,0.12), 0 0 1px rgba(0, 0, 0, .2);
}

.vn-button[type=reset] {
  text-decoration: underline;
}

.vn-button-primary,
.vn-button[type=submit] {
  color: #fff;
  background: #000500;
}


/* Contact Form */
.vn-form {}

.vn-form fieldset {
  max-width: 50%;
  border: none;
  padding: 0;
}

.vn-form-actions {
  text-align: right;
}

.vn-form-actions button:nth-child(odd) {
  margin-right: 1em;
}

.vn-form-field {
  margin-bottom: 16px;
}

.vn-form-field > label {
  display: block;
  margin-bottom: .5em;
}

.vn-form-field > input,
.vn-form-field > select,
.vn-form-field > textarea {
  background-color: #fafafa;
  border: 1px solid rgba(0,0,0,0.12);
  padding: .7em .6em;
  width: 100%;

}

.vn-form-notifications {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  background-color: rgba(0,0,0,.2);
  display: none;
}

.vn-form-notifications .card {
  width: 50%;
  margin-left: 50vw;
  margin-top: 50vh;
  transform: translate(-50%, -50%);
}

.vn-form-notifications p { display: none }
